/* EnterLostDisc.css */

.lost-disc-container {
  max-width: 400px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #f0efef;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 10px;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.custom-comments input {
  font-size: 30px;
}

.form-buttons-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reset-format {
  background-color: #f0efef;
  color: #878787;
  border: 1px solid ;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.reset-format:hover {
  background-color: #c8c8c8;
  transition: 0.3s;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #0056b3;
  transition: 0.3s;
}

.success-message {
  margin-top: 20px;
  padding: 20px;
  border-radius: 3px;
  background-color: #d4edda;
  color: #155724;
}

.error-message {
  margin-top: 20px;
  padding: 20px;
  border-radius: 3px;
  background-color: lightgray;
  color: red;
  font-weight: bold;
}

.button {
  width: 175px; /* Large square size */
  height: 175px;
  /* border-radius: 10px; */
  margin: 10px;
  padding: 2px !important;
  font-size: 16px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #008060;
  border: 1px solid #ffffff;
}

.button:hover,
.button:focus,
.button:active {
  color: #353535;
  background: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  /* Adjust for mobile */
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 1.2em;
    
  }

  .button {
    width: 165px;
    height: 40px;
    font-size: 0.80rem !important;
    border-radius: 3px;
  }
}

@media screen and (min-width: 601px) {
  /* Adjust for larger screens */
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }

  .button {
    width: 165px;
    height: 40px;
    font-size: 0.80rem !important;
    border-radius: 3px;
  }
}

.button-red {
  background-color: rgb(173, 42, 42);
}

.button-black{
  background-color: black;
  transition: 0.3s;
  border: 1px solid black;
  height: 38px;
}

.button-red:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  border: 1px solid black;
}

.EnterLostDisc {
  font-size: 30px;
  font-family: "Oswald", sans-serif;;
  font-weight: 600;
  margin-top: 5px;
}

.button-icon-camera,
.button-icon-pencil {
  margin: 5px;
  font-size: 7px;
}

.button-icon-pencil {
  font-size: 5px;
}

.button-icon {
  font-size: 40px; /* Larger icon size */
  width: 40% !important;
  height: 30% !important;
  margin-bottom: 5px;
  padding: 0;
}

.button-text {
  text-align: center; /* Center the text */
}

/* Add this to your CSS file */
.image-container {
  width: 160px;
  height: 150px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

/* Style for the camera icon */
.image-container .camera-icon {
  font-size: 36px;
  color: #ccc;
}

/* Style for the image itself */
.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-placeholder-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  gap: 22px;
}

.image-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 0;
  padding-bottom: 100%; 
  background-color: #f0f0f0;
  border: 2px dashed #ccc;  */
  cursor: pointer;
  position: relative;
}

.camera-icon {
  font-size: 2rem;
  color: #777; /* Color of the camera icon */
  margin-bottom: 8px; /* Spacing between camera icon and text */
}
